/* $Id$ */

/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal6-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal6-reference.css file
 *   Forum            See line 197 of Zen's drupal6-reference.css file
 *   Menus            See line 667 of Zen's drupal6-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal6-reference.css file
 *   Polls            See line 287 of Zen's drupal6-reference.css file
 *   Search           See line 320 of Zen's drupal6-reference.css file
 *   User Profiles    See line 945 of Zen's drupal6-reference.css file
 */


/** body **/
  body
  {
    background:#664117 url('../i/investment-darker.jpg') repeat fixed; 
    color:#111;
  }

/* colors */
.node .content {

}
  #page
  {
  }

  #page-inner
  {
  }

/** header **/
  #header
  {
  }

  #header-inner
  {
  }

  #logo-title /* Wrapper for logo, website name, and slogan */
  {
  }

  #logo /* Wrapper for logo */
  {
    margin: 0 10px 0 0;
    padding: 0;
  }

  #logo-image /* The actual logo image */
  {
  }

  h1#site-name, div#site-name /* The name of the website */
  {
    margin: 0;
    font-size: 2em;
    line-height: 1.3em;
    float: right;
  }

#header, #navbar, .region,
.accordion_blocks_container .ui-accordion-header a {
    color: #eee;
}


#header a:link,
#header a:visited,
#navbar a:link,
#navbar a:visited,
.block a:link,
.block a:visited
 {
    color:#dcb073;
    text-decoration:none;
    /*text-transform:uppercase;*/
}

#navbar {
    background:#664117 url('../i/investment-darker.jpg') repeat fixed; /* explicit to hide beneath */
}
#header a:hover,
#navbar a:hover {
    background:none;
    color:#fdc417;
}
#navbar a.active {
    color: #eee;
}

ul.primary li a {
    background: linear-gradient( -90deg, rgba( 130, 130, 130, 0.1 ), rgba( 255, 255, 255, 0.5 ) );
    background: -moz-linear-gradient( -90deg, rgba( 130, 130, 130, 0.1 ), rgba( 255, 255, 255, 0.5 ) );
    background: -webkit-gradient( linear, left top, left bottom, 
        from(rgba( 130, 130, 130, 0.1 )), 
        to(rgba( 255, 255, 255, 0.5 )) );
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e7f7f7f', endColorstr='#55ffffff');
    color: #111;
    border-radius: 5px 5px 0px 0px;
    margin: 1px;
}

ul.primary li a:hover {
    background: linear-gradient( -90deg, rgba( 210,166,104, 0.3 ), rgba( 255, 255, 255, 0.75 ) );
    background: -moz-linear-gradient( -90deg, rgba( 210,166,104, 0.3 ), rgba( 255, 255, 255, 0.75 ) );
    background: -webkit-gradient( linear, left top, left bottom,
        from(rgba( 210,166,104, 0.3 )), to(rgba( 255, 255, 255, 0.75 )) );
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e7f7f7f', endColorstr='#55D2A668');
}

ul.primary li a .tab,               ul.primary li a:hover .tab,
ul.primary li a:hover .tab:hover,
ul.primary li.active a .tab,        ul.primary li.active a:hover .tab {
      background: transparent;
}

ul.primary li.active a {
  background: rgba( 255, 255, 255, 0.5 ); /* CSS3 */
  background: white; /* old CSS */
  opacity: .5;
  -khtml-opacity: .5;
  -moz-opacity:   .5;
  -ms-filter:"alpha(opacity=50)";
  filter:     alpha(opacity=50);
}

ul.primary li.active a:hover {
  background: rgba( 210,166,104, 1 ); /* CSS3 */
}
/*
  #site-name a:link,
  #site-name a:visited
  {
    color:#dcb073;
    text-decoration: none;
  }

  #site-name a:hover
  {
    text-decoration: underline;
  }
*/
  #site-slogan /* The slogan (or tagline) of a website */
  {
  }

  #header-blocks /* Wrapper for any blocks placed in the header region */
  {
    clear: left;
  }

/** main (container for everything else) **/
  #main
  {
  }

  #main-inner
  {
  }

/** content **/
  #content
  {

  }

  #content-inner
  {
  }

  #mission /* The mission statement of the site (displayed on homepage) */
  {
  }

  #content-top /* Wrapper for any blocks placed in the "content top" region */
  {
  }

  #content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
  {
  }

  .breadcrumb /* The path to the current page in the form of a list of links */
  {
    padding-bottom: 0; /* Undo system.css */
  }

h1.title,  .ui-accordion-header {
    color:#fdc417;
   text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
   text-indent: 1em;
}
h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */,
.ui-accordion-header {
    margin: 0;
}

#sidebar-left .block .title, #sidebar-right .block  .title, .region-vertical .block  .title, .region-bottom .block  .title,
.accordion_blocks_container .ui-accordion-header {
    background: linear-gradient( -90deg, rgba( 255, 255, 255, 0.1 ), rgba( 255, 255, 255, 0 ) );
    background: -webkit-gradient( linear, left top, left bottom, from(rgba( 255, 255, 255, 0.1 )), to(rgba( 255, 255, 255, 0 )) );
    background: -moz-linear-gradient(-90deg, rgba( 255, 255, 255, 0.1 ), rgba( 255, 255, 255, 0 ));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1effffff', endColorstr='#01ffffff');
}
/* selected */
.accordion_blocks_container .ui-accordion-header.selected {
    background: linear-gradient( -90deg, rgba( 255, 255, 255, 0.3 ), rgba( 255, 255, 255, 0 ) );
    background: -webkit-gradient( linear, left top, left bottom, from(rgba( 255, 255, 255, 0.3 )), to(rgba( 255, 255, 255, 0 )) );
    background: -moz-linear-gradient(-90deg, rgba( 255, 255, 255, 0.3 ), rgba( 255, 255, 255, 0 ));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#30ffffff', endColorstr='#01ffffff');
    border-radius: 1.2em 1.2em 0 0;
    -moz-border-radius: 1.2em 1.2em 0 0;
    -q-border-radius: 1.2em 1.2em 0 0;
    -webkit-border-radius: 1.2em 1.2em 0 0;
}

 .ui-accordion-header {
    padding: .5em 0;
    cursor: pointer;
}
.ui-accordion-header a:hover {
    text-decoration: none;
}
/*.ui-accordion .content*/.accordion_blocks_container div[role=tabpanel],
.accordion_blocks_container div.content {
    border: 1px dashed #FCFAF4;
    border-top: none;
}

  div.messages /* Important messages (status, warning, and error) for the user */
  {
    clear: both;
  }

  div.status /* Normal priority messages */
  {
  }

  div.warning, tr.warning /* Medium priority messages */
  {
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
  }

  div.error, tr.error /* High priority messages. See also the .error declaration below. */
  {
  }

  div.tabs /* See also the tabs.css file. */
  {
  }

  .help /* Help text on a page */
  {
    margin: 1em 0;
    padding: 0.1em 1em;
    background: infobackground;
    color: infotext;
    
  }


  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
  }

  #content-area /* Wrapper for the actual page content */
  {
    margin:     0px;
    padding:    10px;
    background: #d2a668 url('../i/bgtile1.jpg') repeat;
    border:     0;
    -moz-border-radius:     5px;
    -khtml-border-radius:   5px;
    -webkit-border-radius:  5px;
    border-radius:          5px; /* CSS3 */

  }

#content-area a {
    color:#5d380e;
}
#content-area a:hover {
    color:#3E2E06;
}

  ul.links /* List of links */
  {
    margin: 1em 0;
    padding: 0;
  }

  ul.links.inline
  {
    margin: 0;
    display: inline;
  }

  ul.links li
  {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;

  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.7em 1em;
    font-size: 117%;
    background: #FCFAF4;
    border: 1px solid #5D380E;
    border-radius: 0.5em;
    -q-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
  }
  .pager a:hover {
    text-decoration: none;
    background-color: #ECFFE4;
    border-color: #111;
  }
    
  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 1em 0;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
  }

/** navbar **/
  #navbar
  { /* end cascade #1*/
    border-bottom-style: dashed;
  }

  #navbar-inner
  {
  }

  #search-box /* Wrapper for the search form */
  {
  }

  #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
  {
    display: none;
  }

  #primary /* Primary links */
  {
    float: left;
  }

#primary a {
    font-weight: bold;
}


  #secondary /* Secondary links */
  {
  }

#sidebar-left,   #sidebar-right {
    /*font-size: 0.75em;*/
    color: #ddd;
    text-shadow: 1px 1px 2px #d2a668;
}
.accordion_blocks_container .ui-accordion-header a {
    text-shadow: 1px 1px 2px #d2a668;
}
/** sidebar-left **/
  #sidebar-left
  {

  }

  #sidebar-left-inner
  {
  }

/** sidebar-right **/
  #sidebar-right
  {
  }

  #sidebar-right-inner
  {
  }

/** footer **/
  #footer
  {
    /* end cascade #2*/
    border-top-style: dashed;
  }

  #footer-inner
  {
  }

  #footer-message /* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */
  {
  }

/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
  }

/** Drupal nodes **/
  .node /* Node wrapper */
  {
    padding: 10px;
    margin: 5px;
  }

  .node-inner /* Additional wrapper for node */
  {
  }

  .sticky /* A sticky node (displayed before others in a list) */
   {
    background: #FCFAF4;
    border: 1px solid #5D380E;
    color: #111;
    padding-top: 1em;
  }

    #content-area .sticky a {
        color:#697557;
    }

  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    /*font-family: Impact, "Arial Narrow", Helvetica, sans-serif;*/
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node-mine /* A node created by the current user */
  {
  }

  .node-teaser /* A node displayed as teaser */
  {
  }

  /* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
  .node-type-page /* Page content node */
  {
  }

  .node-type-story /* Story content node */
  {
  }
.node h2.title   {/* Node title */
    font-family:  "DejaVu Serif", "Nimbus Roman No9 L", "Times New Roman", Times, Georgia, "Bitstream Vera Serif", serif; 
    text-shadow: 1px 1px 2px #FCFAF4;
}
.sticky h2.title {
  text-shadow: 1px 1px 2px #697557;
}

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #c00;
  }

/* init letter*/
.node h2.title:first-letter, h3.title:first-letter {
    font-size: 200%;
    color: black;
    text-shadow: 1px 1px 2px #FCFAF4;
}
.sticky h2.title:first-letter, h3.title:first-letter {
    /*font-family: "Times New Roman", Times, serif;*/
    color: #fdc417;
    text-shadow: 1px 1px 2px #697557;
}
  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .meta /* Wrapper for submitted and terms data */
  {
      text-shadow: 1px 1px 2px #FCFAF4;
  }

  .node .submitted /* The "posted by" information */
  {
    float:right;
    font-size: 0.9em;
  }

  .node .terms /* Node terms (taxonomy) */
  {
    font-style: italic;
  }

  .node .content /* Node's content wrapper */
  {
    /*font-family: Georgia, Geneva, "Nimbus Roman No9 L", "Century Schoolbook L", Times, serif;*/
    font-size: 110%;
    text-shadow: 1px 1px 2px #FCFAF4;
  }

  .node ul.links /* Node links. See also the ul.links declaration above. */
  {
  }

  .preview .node /* Preview of the content before submitting new or updated content */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal comments **/
  #comments /* Wrapper for the list of comments and its title */
  {
    margin: 1em 0;
  }

  #comments-title /* Heading for the list of comments */
  {
  }

  .comment /* Wrapper for a single comment */
  {
    padding: 10px;
  }

  .comment-inner /* Additional wrapper for a single comment */
  {
  }

  .comment-preview /* Preview of the comment before submitting new or updated comment */
  {
  }

  .comment.new /* A new comment since the user last viewed the page. */
  {
  }

  .comment.odd /* An odd-numbered comment in the list of comments */
  {
    background: #FCFAF4;
    border: 1px solid #5D380E;
    color: #111;
  }

  .comment.even /* An even-numbered comment in the list of comments */
  {
    border-color: #5D380E;
    border-style: dashed;
    border-width: 0;
  }

.comment.first  { /* The first comment in the list of comments */
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.comment.last  { /* The last comment in the list of comments */
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

    border-width: 1px;
}

  .comment-unpublished /* Unpublished comments */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
  {
  }

  .comment-published /* Published comments */
  {
  }

  .comment-by-anon /* A comment created by an anonymous user */
  {
  }

  .comment-by-author /* A comment created by the node's author */
  {
  }

  .comment-mine /* A comment created by the current user */
  {
  }

.comment h3.title  { /* Comment title */
    float: left;
}

  .new /* "New" marker for comments that are new for the current user */
  {
    color: #c00;
  }

  .comment .picture /* The picture of the comment author */
  {
    float: right;
  }

.comment .submitted  { /* The "posted by" information */
    clear: left;
    font-style: italic;
    font-size: 85%;
}

  .comment .content /* Comment's content wrapper */
  {
  }

  .comment .user-signature /* The user's signature */
  {
  }

  .comment ul.links /* Comment links. See also the ul.links declaration above. */
  {
    margin: 1em 0;
  }

  .indented /* Nested comments are indented */
  {
    /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
  }

  .preview .comment /* Preview of the comment before submitting new or updated comment */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal blocks **/
  .block /* Block wrapper */
  {
    margin-bottom: 1em;
  }

  .block.region-odd /* Zebra striping for each block in the region */
  {
  }

  .block.region-even /* Zebra striping for each block in the region */
  {
  }

  .block.odd /* Zebra striping independent of each region */
  {
  }

  .block.even /* Zebra striping independent of each region */
  {
  }

  .region-count-1 /* Incremental count for each block in the region */
  {
  }

  .count-1 /* Incremental count independent of each region */
  {
  }

  .block-inner /* Additional wrapper for block */
  {
  }

  .block h2.title /* Block title */
  {
    padding: 2px;
  }

  .block .content /* Block's content wrapper */
  {
  }
.region-bottom .block .content {
  text-align: center;
}
.region-bottom .block .content img {
  margin: auto;
}
  #block-aggregator-category-1 /* Block for the latest news items in the first category */
  {
  }

  #block-aggregator-feed-1 /* Block for the latest news items in the first feed */
  {
  }

  #block-block-1 /* First administrator-defined block */
  {
  }

  #block-blog-0 /* "Recent blog posts" block */
  {
  }

  #block-book-0 /* "Book navigation" block for the current book's table of contents */
  {
  }

  #block-comment-0 /* "Recent comments" block */
  {
  }

  #block-forum-0 /* "Active forum topics" block */
  {
  }

  #block-forum-1 /* "New forum topics" block */
  {
  }

  #block-menu-primary-links /* "Primary links" block */
  {
  }

  #block-menu-secondary-links /* "Secondary links" block */
  {
  }

  #block-node-0 /* "Syndicate" block for primary RSS feed */
  {
  }

  #block-poll-0 /* "Most recent poll" block */
  {
  }

  #block-profile-0 /* "Author information" block for the profile of the page's author */
  {
  }

  #block-search-0 /* "Search form" block */
  {
  }

  #block-statistics-0 /* "Popular content" block */
  {
  }

  #block-user-0 /* "User login form" block */
  {
  }

  #block-user-1 /* "Navigation" block for Drupal navigation menu */
  {
  }

  #block-user-2 /* "Who's new" block for a list of the newest users */
  {
  }

  #block-user-3 /* "Who's online" block for a list of the online users */
  {
  }

/** Drupal boxes **/
  /* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
  .box /* Wrapper for box */
  {
  }

  .box-inner /* Additional wrapper for box */
  {
  }

  .box h2.title /* Box title */
  {
  }

  .box .content /* Box's content wrapper */
  {
  }

/** Miscellaneous Drupal styles **/
  .error /* Errors that are separate from div.messages status messages (see above.) */
  {
    /* color: #e55; */ /* Drupal core uses a #e55 background */
  }

  .warning /* Warnings that are separate from div.messages status messages (see above.) */
  {
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
  }

  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
    font-size: 125%;
    
  }

.more-link a {
    padding: .5em;
}

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
  }

  tr.even /* Some tables have rows marked even or odd. */
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  tr.odd
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  li a.active /* The active item in a Drupal menu */
  {
    color: #000;
  }


/** Drupal forms **/
    form {
    }
    #content-area form {
        padding: 10px;
        margin: 5px;
    }
  .form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 0;
  }

  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 2px solid #c00;
  }

  .form-item label /* The label for a form element */
  {
    display: block;
    font: icon;
    font-weight: bold;
        font-size: 1.2em;
  }

  .form-item label.option /* The label for a radio button or checkbox */
  {
    display: inline;
    font-weight: normal;
  }

  .form-required /* The part of the label that indicates a required field */
  {
    color: #c00;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    font-size: 0.85em;
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
  }

  .form-submit /* The submit button */
  {
  }

  .container-inline div, .container-inline label {/* Inline labels and form divs */
    display: inline;
  }


  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0;
    padding-left: 2em;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link /* The "Log in using OpenID" links. */
  {
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
  }

  #user-login-form li.user-link /* The "Cancel OpenID login" links. */
  {
    margin-top: 1em;
  }

  #user-login ul
  {
    margin: 1em 0;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * forms on the site.
   */
  form tbody
  {
    border-top: 1px solid #ccc;
  }

  form th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  form tbody th
  {
    border-bottom: 1px solid #ccc;
  }

  form thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }
/* so let's just use HTML5 and CSS3!
fuck off dinos and embendded */
input[type="password"],
input[type="text"],
select,
textarea  {
    -moz-border-radius:         4px;
    -khtml-border-radius:       4px;
    -webkit-border-radius:      4px;
    border-radius:              4px;
    border:1px solid #5D380E;
    color: #5D380E;
    line-height: 1.65em;
    -khtml-opacity: .8;
    -moz-opacity:   .8;
    -ms-filter:"alpha(opacity=80)";
    filter:     alpha(opacity=80);
    opacity:        .8;
    /*text-indent: 0.1em;*/
}
input[type="password"],
input[type="text"] {
    background-color:   #FCFAF4;
    height:1.3em;
}
input[type="password"] {/* TODO dynamic onkeyup!*/
    border:1px solid #d2a668;
    font-family: DejaVu Sans Mono, Terminal, mono;
    font-size: 100%;
}

/* Modern! Geek! */
input[type="submit"] {
/* DEFAULT BUTTON? */
    
    letter-spacing: -1px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -moz-border-radius:         0.5em;
    -khtml-border-radius:       0.5em;
    -webkit-border-radius:      0.5em;
    border-radius:              0.5em;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -moz-box-shadow:    0 2px 4px rgba(0,0,0,.2);
    box-shadow:         0 2px 4px rgba(0,0,0,.2);
    color: #fef4e9;
    border: solid 1px #9E8562;
    background: #895E22;
    background: linear-gradient( -90deg, rgba( 255, 255, 255, 0.1 ), rgba( 0, 0, 0, 0.36 ) 36%, rgba( 255, 255, 255, 0.1 ) );
    background: -moz-linear-gradient( -90deg, rgba( 255, 255, 255, 0.1 ), rgba( 0, 0, 0, 0.36 ) 36%, rgba( 255, 255, 255, 0.1 ) );
    background: -webkit-gradient( linear, left top, left bottom, 
        from(rgba( 255, 255, 255, 0.1 )), 
        color-stop( 36%, rgba( 0, 0, 0, 0.36 )), 
        to(rgba( 255, 255, 255, 0.1 )) );/*from(#EAC794), to(#895E22)*/
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1effffff', endColorstr='#55000000');

    transition:         color 1s ease-in-out;
    -o-transition:      color 1s ease-in-out;
    -moz-transition:    color 1s ease-in-out;
    -webkit-transition: color 1s ease-in-out, background-image 2s ease-in-out;

}
input[type="submit"]:hover {
    background: #D2A668;
    background: linear-gradient( -90deg, rgba( 255, 255, 255, 0.1 ), rgba( 137, 94, 34, 0.36 ) 36%, rgba( 255, 255, 255, 0.1 ) );
    background: -webkit-gradient(linear, left top, left bottom, from(rgba( 255, 255, 255, 0.1 )), color-stop( 36%, rgba( 137, 94, 34, 0.36 )), to(rgba( 255, 255, 255, 0.1 )) );/*from(#895E22), to(#9E8562)*/
    background: -moz-linear-gradient( -90deg, rgba( 255, 255, 255, 0.1 ), rgba( 137, 94, 34, 0.36 ) 36%, rgba( 255, 255, 255, 0.1 ) );
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1effffff', endColorstr='#55895e22');
    color: yellow;

    transition:         color 2s ease-in-out;
    -o-transition:      color 2s ease-in-out;
    -moz-transition:    color 2s ease-in-out;
    -webkit-transition: color 2s ease-in-out, background-image 2s ease-in-out;
}
input[type="submit"]:active {
    color:  #34195D;
    background: linear-gradient( -90deg, rgba( 255, 255, 255, 0.1 ), rgba( 166, 221, 140, 0.5 ) 36%, rgba( 255, 255, 255, 0.1 ));
    background: -webkit-gradient( linear, left top, left bottom, 
        from(rgba( 255, 255, 255, 0.1 )), 
        color-stop( 36%, rgba( 166, 221, 140, 0.5 )), 
        to(rgba( 255, 255, 255, 0.1 )) );
    background: -moz-linear-gradient(-90deg, rgba( 255, 255, 255, 0.1 ), rgba( 166, 221, 140, 0.5 ) 36%, rgba( 255, 255, 255, 0.1 ));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1effffff', endColorstr='#80a6dd8c');

    -webkit-box-shadow: 0 0 ;
    -moz-box-shadow:    0 0 ;
    box-shadow:         0 0 ;
}

input:focus {
    background-color: white;
    -khtml-opacity: 1;
    -moz-opacity:   1;
    -ms-filter:"alpha(opacity=100)";
    filter:     alpha(opacity=100);
    opacity:        1;
    transition:         background-color 1s ease-in-out, opacity 1s ease-in-out;
    -o-transition:      background-color 1s ease-in-out, opacity 1s ease-in-out;
    -moz-transition:    background-color 1s ease-in-out, -moz-opacity 1s ease-in-out;
    -webkit-transition: background-color 1s ease-in-out, opacity 1s ease-in-out;
}

 /* A sticky node (displayed before others in a list) */
.sticky, .help {
    opacity: 0.8;
}
/* back to classic */
.help a, .messages a {
    color: blue;
}

    
/* very dang #user-login-form */
.form-text, .form-text textarea {
    font-size: 200%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.15em;
}
.form-select {
    font-size: 160%;
    margin-left: 0;
}


#triggerView {
    color: #dcb073;
    font-size: 8pt;
    padding: 0 0.7em 0 0.4em;
    /* old */
    background: black; opacity: 0.5;
    background: linear-gradient( -90deg, rgba( 0, 0, 0, 0.5 ), rgba( 0, 0, 0, 0.3 ) 36%, rgba( 0, 0, 0, 0.5 ) );
    background: -moz-linear-gradient(-90deg, rgba( 0, 0, 0, 0.5 ), rgba( 0, 0, 0, 0,2 ) 36%, rgba( 0, 0, 0, 0.5 ));
    background: -webkit-gradient( linear, left top, left bottom, from(rgba( 0, 0, 0, 0.5 )), color-stop( 36%, rgba( 0, 0, 0, 0.3 )), to(rgba( 0, 0, 0, 0.5 )) );
    -ms-filter:"alpha(opacity=50)";
    filter:     alpha(opacity=50);

    -moz-border-radius:     0 5px 5px 0;
    -khtml-border-radius:   0 5px 5px 0;
    -webkit-border-radius:  0 5px 5px 0;
    border-radius:          0 5px 5px 0; /* CSS3 */
    cursor: hand; cursor: pointer;
}

#triggerView {
    position: fixed;
    top: 60%;
    margin-left: 0;
    width: 0.6em;
    height:         10em;
    line-height:    10em;
    z-index: 5;
}

