/* 
@author Andrey Zakharov
color theme:
bg:
    #664117
    #d2a668
    #FCFAF4

fg:
    #111
    #dcb073 / #fdc417
#504B35
*/

/*  This file used for 
    common styles
    across the site content too
can (should) be not theme but UI specific!
This file goes right after layout.css!
Then theme.css!
*/
.hidden {
    display: none;
}

a {
    color:#dcb073;
    text-decoration:none;
    transition:         text-shadow 1s ease-in-out, color 1s ease-in-out; /* CSS3 */
    -moz-transition:    text-shadow 1s ease-in-out, color 1s ease-in-out;  /* FF3.7+ */
    -o-transition:      text-shadow 1s ease-in-out, color 1s ease-in-out;  /* Opera 10.5 */
    -webkit-transition: text-shadow 1s ease-in-out, color 1s ease-in-out;  /* Saf3.2+, Chrome */
}

a:hover {
    color:#fdc417;
    text-decoration:underline;
}


h1,h2,h3,h4,h5 {
    font-family:serif;
    text-transform:uppercase;
    
    font-weight: bold;
}

/* cool stuff for header links */
#primary .links li {
    margin-top: 3px;
    transition:         margin-top 1s ease-in-out;
    -moz-transition:    margin-top 1s ease-in-out;
    -o-transition:      margin-top 1s ease-in-out;
    -webkit-transition: margin-top 1s ease-in-out;
}
#primary .links li:hover {
    margin-top: 0px;    
}
#primary .links li:active {
    margin-top: 5px;/*shift*/
    transition:         margin-top 0.1s linear;
    -moz-transition:    margin-top 0.1s linear;
    -o-transition:      margin-top 0.1s linear;
    -webkit-transition: margin-top 0.1s linear;
}

#primary a {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);/* fuck IE  */
}
#primary a:hover {
    text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.4);
}
#primary a:active {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    transition:         text-shadow 0.1s linear;
    -moz-transition:    text-shadow 0.1s linear;
    -o-transition:      text-shadow 0.1s linear;
    -webkit-transition: text-shadow 0.1s linear;
}


#header, #navbar {
    background:#664117 url('i/investment-darker.jpg') repeat fixed; /* explicit to hide beneath */
}

#navbar, #footer {/* SAME cascade*/
    border-width: 1px;
    border-color: #FCFAF4;
    border-color: rgba( 252,250,244, 0.5 );
    border-style: none;/* continue cascade below... */
}


/* wuuuuh */

#primary {
    font-size: 150%;
}
#search-block-form .form-submit { font-size: 100% }
#search-block-form { /* TODO */
    font-size: 60%;
}

#navbar-inner {
    margin: 0.3ex;
}


.block-locale {
    float: left;
    margin: 0
}

.block-locale  ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navbar .block-search {
    float:          right;
    margin-bottom:  0;
}

/* webkit */
.block-search input.form-text {
    
}
/* TODO remain only for scripting */
#content-top .block {
    display: none;
}

#breadcrumb {
/*	position: absolute; /* for tooltips */
}

#breadcrumb ul {
	margin:0;
}

#breadcrumb li {
   float: left;
   padding-right: 2em;
}

#breadcrumb .menu a {
   float: inherit;
}

#breadcrumb li.first {
	list-style: none;
}

#breadcrumb .breadcrumb_separator {
	display: block; float: left;
	background: url( m/arrows.png ) no-repeat;
	background-position: 0px -67px;
	/* for none block useless... todo <img /> :( */
	width: 16px; min-width: 16px;
	height: 16px; min-height: 16px;  
}

/* resets in loaded DOM.. but
 TODO move loaded menus... out of breadcrumb... */



.block h1, .block h2,.block h3,.block h4,.block h5 {
    text-transform:none;
}


/* double arrows */
#breadcrumb .breadcrumb_separator:hover {
    background-position: 0px -84px;

}

/* expanded arrows 26, 71, 14 x 9 (wider)*/
#breadcrumb .expanded:hover, #breadcrumb .expanded {
    background-position: -26px -67px;

}

#breadcrumb .breadcrumb_separator ul.menu {
    position: absolute;
    min-width: 400px;
    width: auto;
    top: 16px;/*just below separ*/
    left: auto;
    overflow: visible;
}

#breadcrumb .menu li, #breadcrumb .menu li a {
	color: inherit;
}

/* new design
#breadcrumb .breadcrumb_separator {
    background: url( m/arrows.png ) no-repeat;
    background-position: 0px -67px;
    }
    
    */

/*  Geishi  */
div.geshifilter {
    background: black;
    color: lightgreen;
}
