# params.mk

TRUNK ?= /d/code/openttd/1.0.2/
MODE ?= patchpack
PATCHES = openttd-cargodist-sprinkles IB station-build-gui_v6.2 town_growth_need_goods harder_game stuck_trains rating_town_label watch_gui_6 russian-town-names airport-upgrade-v6-1.0.0 VTI_console zoning more-cond-orders whistle vs.russian 
PATCHDIR ?= $(shell pwd)/../patches
PATCHMAP ?= $(shell pwd)/Mk.patchtable
CONFIGURE_PARAMS ?=
