/**
 * @author Andrey Zakharov
 * developed for vaultsoft.ru 
 * April - May 2010
 * swatch colors:
 * bg:
 *   #664117 - brown
 *   #d2a668 - light brown
 *   #FCFAF4 - light light pink
 *   #ECFFE4 - light light green
 * fg:
 *   #111 - almost black
 *   #dcb073 / #fdc417 - light brown / yellow
 *   #504B35 - wet asphalt
 #5D380E
 */

/*  This file used for 
    common styles
    across the site content too
can (should) be not theme but UI specific!
This file goes right after layout.css!
Then theme.css!
*/
.hidden {
    display: none;
}

a {
    color:#dcb073;
    text-decoration:none;
    transition:         text-shadow 0.5s ease-in-out, color 0.5s ease-in-out; /* CSS3 */
    -moz-transition:    text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;  /* FF3.7+ */
    -o-transition:      text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;  /* Opera 10.5 */
    -webkit-transition: text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;  /* Saf3.2+, Chrome */
}

a:hover {
    color:#fdc417;
    text-decoration:underline;
}


h1,h2,h3,h4,h5 {
    text-transform:uppercase;
    font-weight: bold;
}

#content, #sidebar-left, #sidebar-right {/* for modern */
    transition-timing-function:         ease-in-out;
    -moz-transition-timing-function:         ease-in-out;
    -o-transition-timing-function:         ease-in-out;
    -webkit-transition-timing-function:         ease-in-out;
}


/* cool stuff for header links */
#primary .links li {
    margin-top: 3px;
    transition:         margin-top 1s ease-in-out;
    -moz-transition:    margin-top 1s ease-in-out;
    -o-transition:      margin-top 1s ease-in-out;
    -webkit-transition: margin-top 1s ease-in-out;
}
#primary .links li:hover {
    margin-top: 0px;    
}
#primary .links li:active {
    margin-top: 5px;/*shift*/
    transition:         margin-top 0.1s linear;
    -moz-transition:    margin-top 0.1s linear;
    -o-transition:      margin-top 0.1s linear;
    -webkit-transition: margin-top 0.1s linear;
}

#primary a {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);/* fuck IE  */
}
#primary a:hover {
    text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.4);
}
#primary a:active {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    transition:         text-shadow 0.1s linear;
    -moz-transition:    text-shadow 0.1s linear;
    -o-transition:      text-shadow 0.1s linear;
    -webkit-transition: text-shadow 0.1s linear;
}

#header {
  background: transparent;
}


#navbar, #footer {/* SAME cascade*/
    border-width: 1px;
    border-color: #FCFAF4;
    border-color: rgba( 252,250,244, 0.5 );
    border-style: none;/* continue cascade below... */
}


/* wuuuuh */

#primary {
    font-size: 150%;
}
#search-block-form .form-submit { font-size: 100% }
#search-block-form { /* TODO */
    font-size: 60%;
}

#navbar-inner {
/*    margin: 0.3ex;*/
}


.block-locale {
    float: left;
    margin: 0
}

.block-locale  ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.block-locale li {
  float: left;
  margin-left: 1em;
}
.block-locale li a.active {
  display: none;
}

#navbar .block-search {
    float:          right;
    margin-bottom:  0;
}

/* webkit */
.block-search input.form-text {
}
.block-search .form-submit {
}
.block-search .container-inline {
  overflow: hidden;
  line-height: 22px;
}
.container-inline div#edit-search-block-form-1-wrapper {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}
/* TODO remain only for scripting */
#content-top .block {
/*    display: none;*/
}

#breadcrumb {
/*	position: absolute; /* for tooltips */
  float: left;
}

#breadcrumb li {
   float: left;
   padding-right: 2em;
}

#breadcrumb .menu a {
   float: inherit;
}

#breadcrumb li.first {
	list-style: none;
}

#breadcrumb .breadcrumb_separator {
	display: block; float: left;
	background: url( m/arrows.png ) no-repeat;
	background-position: 0px -67px;
	/* for none block useless... todo <img /> :( */
	width: 16px; min-width: 16px;
	height: 16px; min-height: 16px;  
}

/* resets in loaded DOM.. but
 TODO move loaded menus... out of breadcrumb... */



.block h1, .block h2,.block h3,.block h4,.block h5, 
.accordion_blocks_container .ui-accordion-header
{
    text-transform:none;
}


/* double arrows */
#breadcrumb .breadcrumb_separator:hover {
    background-position: 0px -84px;

}

/* expanded arrows 26, 71, 14 x 9 (wider)*/
#breadcrumb .expanded:hover, #breadcrumb .expanded {
    background-position: -26px -67px;

}

#breadcrumb .breadcrumb_separator ul.menu {
    position: absolute;
    min-width: 400px;
    width: auto;
    top: 16px;/*just below separ*/
    left: auto;
    overflow: visible;
}

#breadcrumb .menu li, #breadcrumb .menu li a {
	color: inherit;
}

/* new design
#breadcrumb .breadcrumb_separator {
    background: url( m/arrows.png ) no-repeat;
    background-position: 0px -67px;
    }
    
    */

/*  Geishi  */
div.geshifilter-bg {
    background: black;
    background: url(../i/wallpaper.jpg) fixed;
    color: lightgreen;
  padding:0px; margin: 0.5em;
}
div.geshifilter {

  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  background: rgba( 0, 0, 0, .80 );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)";  /* For IE 8*/

  margin: 0px;
  color: lightgreen;
}

.decrement {
  counter-reset: item;
}
.decrement > li {
  list-style-type: none; 
  counter-increment: item -1;
  position: relative;
}
.decrement > li > h3 {
  display: inline;
}
.decrement > li:before {
  display: marker;
  content: counter(item) ". ";
  text-align: right;
  font-weight: bold;
  width: 2em;
}
